.wrapper {
    overflow: hidden;
    padding: 0em 0em 5em 0em;
  }
  
  #welcome {
    overflow: hidden;
    width: auto;
    text-align: center;
    margin-top: 25px;
  }
  
  .title {
    margin-bottom: 3em;
  }
  
  .title h2 {
    font-size: 2.8em;
  }
  
  .title .byline {
    font-size: 1.1em;
    color: #6F6F6F;
  }
  
  #three-column {
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.2);
    /* text-align: center; */
    padding: 0em 100px 0em 100px;
  }
  
  #three-column #tbox {
    float: left;
    padding: 40px;
  }
  
  #three-column .title {
    text-align: center;
  }
  
  #three-column .title h2 {
    font-size: 1.60em;
  }
  
  #three-column .title .byline {
    padding-top: 0.50em;
    font-size: 0.90em;
    color: #858585;
  }
  
  #three-column .arrow-down {
    border-top-color: #292929;
  }
  
  .button {
    display: inline-block;
    line-height: 1.8em;
    background-color: transparent;
    border: 1px solid #343a40;
    text-align: center;
    cursor: default;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  