<h1>{{'cRooms'|translate}}</h1>

<br>

<div>
  <div class="border">
    <mat-grid-list cols="5" rowHeight="50" role="list" gutterSize="1px">
      <mat-grid-tile role="listitem">
        <strong>{{'cRooms'|translate}}</strong>
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        <strong>{{'cDesc'|translate}}</strong>
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        <strong>{{'cBooked'|translate}}</strong>
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        <strong>{{'cFrom'|translate}}</strong>
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        <strong>{{'cTo'|translate}}</strong>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
<br>

  <div *ngFor="let rm of rooms">
    <mat-grid-list cols="5" rowHeight="50" role="list" gutterSize="1px">
      <mat-grid-tile role="listitem">
        {{ rm.name }}
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        {{ rm.description }}
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        {{ rm.isBooked }}
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        {{ rm.booked_from | date }}
      </mat-grid-tile>
      <mat-grid-tile role="listitem">
        {{ rm.booked_to | date }}
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <br> -->
  </div>
</div>