<div class="heading">
    <h1>{{ 'chomeheading1' | translate}}</h1>
    <h2>{{ 'chomeheading2' | translate}}</h2>
</div>

<div class="pics">
<img class="pic" src="assets/5.jpg" alt="DIT 1" width="1000" >
<img class="pic" src="assets/6.jpg" alt="DIT 2" width="1000" >
<img class="pic" src="assets/4.jpg" alt="DIT 3" width="1000" >
<img class="pic" src="assets/3.jpg" alt="DIT 4" width="1000" >
</div>

<hr>

<h1>{{'cNews'|translate}}</h1>

<br>

<div *ngFor="let nw of news">
    <div class="text">
        {{ nw.created_at | date }} | <a class="link" href={{nw.link}} target="_blank"> {{ nw.title }} </a>
    </div>
    <div class="desc">
        {{ (nw.description.length> 555)? (nw.description | slice:0:553)+'...':(nw.description) }}
    </div>
    <hr>
</div>