<h1>{{'cLogin'|translate}}</h1>

<br>

<div>
    <mat-card class="logincard">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
                <mat-label><b>E-Mail</b></mat-label><br>
                <input type="email" id="email" name="email" placeholder="Email" required formControlName="email" [ngClass]="{ 'has-error': formControls.email.errors }" />
                <div *ngIf="formControls.email.errors">
                    <mat-error *ngIf="formControls.email.errors?.required">{{'cEmailInput' | translate }}</mat-error>
                    <mat-error *ngIf="formControls.email.errors?.email">{{'cEmailValid' | translate }}</mat-error>
                </div>
            </div>
            <br>
            <div>
                <mat-label><b>{{'cPassword'|translate}}</b></mat-label><br>
                <input type="password" id="password" name="password" placeholder="Password" required formControlName="password" [ngClass]="{ 'has-error': formControls.password.errors }">
                <div *ngIf="formControls.password.errors">
                    <mat-error *ngIf="formControls.password.errors?.required">{{'cPasswordInput' | translate }}</mat-error>
                    <mat-error *ngIf="formControls.password.errors?.password">{{'cPasswordValid' | translate }}</mat-error>
                </div>
            </div>
            <br>
            <p><button mat-raised-button class="button"><b>{{'cLogin' | translate }}</b></button></p>
        </form>
        <br>
        <p>{{'cRegisterText' | translate }} <button mat-raised-button (click)="register()"><b>{{'cRegister' | translate }}</b></button></p>
    </mat-card>
</div>