<div>
    <h1>{{'cEvents'|translate}}</h1>

    <br>



  

    <div class="border">
        <mat-grid-list cols="5" rowHeight="50" role="list" gutterSize="1px">
            <mat-grid-tile role="listitem">
                <strong>{{'cDate'|translate}}</strong>
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <strong>{{'cDesc'|translate}}</strong>
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <strong>{{'cOrg'|translate}}</strong>
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <strong>{{'cPart'|translate}}</strong>
            </mat-grid-tile>
            <mat-grid-tile role="listitem">
                <strong>{{'cRooms'|translate}}</strong>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
<br>
    <div *ngFor="let event of events">
        <mat-grid-list cols="5" rowHeight="50" role="list" gutterSize="1px">
            <mat-grid-tile role="listitem">
                {{ event.created_at | date }}
            </mat-grid-tile>
            <mat-grid-tile class="tile" role="listitem">
                {{ event.title }} <br> {{ event.description}}
            </mat-grid-tile>
            <mat-grid-tile class="tile" role="listitem">
                {{ event.organiser}}
            </mat-grid-tile>
            <mat-grid-tile class="tile" role="listitem">
                {{ event.participants}}
            </mat-grid-tile>
            <mat-grid-tile class="tile" role="listitem">
                {{ event.room.name}}
            </mat-grid-tile>
        </mat-grid-list>
        <br>
    </div>

</div>