<h1>{{'cInternational'|translate}}</h1>

<br>

<div class="grid">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="3px">
        <a class="link" href={{externalLink1}} target="_blank">
            <mat-grid-tile class="m1">
                {{'cOutgoings'|translate}}
            </mat-grid-tile>
        </a>
        <a class="link" href={{externalLink2}} target="_blank">
            <mat-grid-tile class="m2">
                <p>{{'cExchangeS'|translate}}</p>
            </mat-grid-tile>
        </a>
        <a class="link" href={{externalLink3}} target="_blank">
            <mat-grid-tile class="m3">
                <p>{{'cInternationalR'|translate}}</p>
            </mat-grid-tile>
        </a>
    </mat-grid-list>
</div>