.grid {
    width: 80%;
    color: white;
    margin-left: 10%;
    font-size: x-large;
}

.m3 {
    background: #009fe3;
}

.m1 {
    background: #1A4273;
}

.m2 {
    background: #434343;
}

a {
    all: unset;
}